<!DOCTYPE html>
<html>
<head>
<title>けものフレンズルーレット</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<style type="text/css">
body {
  padding-top: 5rem;
}
h1 img {
  width: 700px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
button {
  cursor: pointer;
}

</style>
</head>

<body>
<div id="app">

<main role="main" class="container">

  <div class="starter-template">
    <h1><img src="./title.png"></h1>

    <form v-if="!result">
      <div class="form-group">
        <fieldset class="form-group">
          <legend>どんなフレンズでルーレット？</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="1" v-model="target">
              アニメ登場 (メイン)
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2" value="2" v-model="target">
              アニメ登場 (サブ)
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="3" v-model="target">
              アプリ版
            </label>
          </div>
        </fieldset>
      </div>
      <button type="button" class="btn btn-primary" @click="roulette">Let't ルーレット♪</button>
    </form>

    <div v-else>
      <div class="jumbotron jumbotron-fluid">
        <p >選ばれたのはこのフレンズだ！！</p>
        <div class="container">
          <h1 class="display-3">{{result}}</h1>
        </div>
      </div>
      <button type="button" class="btn btn-primary" @click="roulette">もう一度♪</button>
      <button type="button" class="btn btn-secondary" @click="back">トップに戻る</button>
    </div>

  </div>

</main><!-- /.container -->
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>

var app = new Vue({
  el: '#app',
  data: {
    result: null,
    target: ["1"]
  },
  methods: {
    roulette: function() {
      var friends = [];
      _.each(this.target, function(v) {
        friends.push(FRIENDS[v])
      });
      friends = _.flatten(friends);
      friends = _.uniq(friends);
      this.result = _.sample(friends);
    },
    back: function() {
      this.result = null;
    }
  }
});


var FRIENDS = {
  "1": [
    "かばん",
    "サーバル",
    "ラッキービースト",
    "フェネック",
    "アライグマ",
    "カバ",
    "コツメカワウソ",
    "ジャガー",
    "トキ",
    "アルパカ・スリ",
    "スナネコ",
    "ツチノコ",
    "アメリカビーバー",
    "オグロプレーリードッグ",
    "ライオン",
    "オーロックス",
    "アラビアオリックス",
    "ニホンツキノワグマ",
    "ヘラジカ",
    "オオアルマジロ",
    "アフリカタテガミヤマアラシ",
    "シロサイ",
    "パンサーカメレオン",
    "ハシビロコウ",
    "アフリカオオコノハズク",
    "ワシミミズク",
    "マーゲイ",
    "ロイヤルペンギン",
    "イワトビペンギン",
    "ジェンツーペンギン",
    "フンボルトペンギン",
    "コウテイペンギン",
    "ギンギツネ",
    "キタキツネ",
    "ミライ",
    "タイリクオオカミ",
    "アミメキリン",
    "アリツカゲラ",
    "キンシコウ",
    "ヒグマ",
    "リカオン",
    "サラブレッドくりげ",
    "サラブレッドあおかげ",
    "サラブレッドしろげ",
  ],
  "2": [
    "サバンナシマウマ",
    "トムソンガゼル",
    "オセロット",
    "マレーバク",
    "フォッサ",
    "インドゾウ",
    "アクシスジカ",
    "キングコブラ",
    "ミナミコアリクイ",
    "クジャク",
    "タスマニアデビル",
    "エリマキトカゲ",
    "オカピ",
    "ショウジョウトキ",
    "カピバラ",
    "アードウルフ",
    "マイルカ",
    "ホラー探偵ギロギロ",
    "ジャイアントペンギン",
  ],
  "3": [
    "ニホンオオカミ",
    "オイナリサマ",
    "キュウビキツネ",
    "人面魚",
    "メキシコサラマンダー",
    "バーバリライオン",
    "ツチノコ",
    "ピーチパンサー",
    "ホワイトタイガー",
    "キングチーター",
    "マルタタイガー",
    "ゴールデンタビータイガー",
    "コハクチョウ",
    "コモドドラゴン",
    "テングコウモリ",
    "オオセンザンコウ",
    "オオアルマジロ",
    "トナカイ",
    "ユキヒツジ",
    "ロジコマ",
    "タチコマ type-A",
    "HAW-206",
    "サーベルタイガー",
    "ライチョウ",
    "コウテイペンギン",
    "ジェンツーペンギン",
    "イワトビペンギン",
    "フンボルトペンギン",
    "セーブルアンテロープ",
    "モリイノシシ",
    "ダーウィンフィンチ",
    "ケツァール",
    "ハイイログマ",
    "オグロスナギツネ",
    "ヒツジ",
    "ヤタガラス",
    "グアダルーペカラカラ",
    "キンイロジャッカル",
    "エゾオオカミ",
    "エゾヒグマ",
    "カムチャッカオオヒグマ",
    "ボブキャット",
    "イリオモテヤマネコ",
    "ユキヒョウ",
    "アマゾンツリーボア",
    "エメラルドツリーボア",
    "シバテリウム",
    "カワラバト",
    "メンフクロウ",
    "ブラックバック",
    "ホルスタイン",
    "マダラスカンク",
    "ケープライオン",
    "ヘビクイワシ",
    "アフリカンゴールデンウルフ",
    "オコジョ",
    "ビントロング",
    "イッカク",
    "バンドウイルカ",
    "ヒメアルマジロ",
    "ホッキョクオオカミ",
    "ワオキツネザル",
    "ボルネオオランウータン",
    "オポッサムモドキ",
    "メガネグマ",
    "ハシビロコウ",
    "ドワーフサイレン",
    "カモノハシ",
    "シーサー・レフティ",
    "シーサー・ライト",
    "シンリンオオカミ",
    "ゴールデンライオンタマリン",
    "アメリカレア",
    "フォークランドカラカラ",
    "モウコノウマ",
    "ヒメアリクイ",
    "チチュウカイモンクアザラシ",
    "ビャッコ",
    "ゲンブ",
    "スザク",
    "セイリュウ",
    "イヌガミギョウブ",
    "ダンザブロウダヌキ",
    "カマイタチ・転",
    "カマイタチ・切",
    "カマイタチ・治",
    "シロナガスクジラ",
    "ダイアウルフ",
    "キングコブラ",
    "ディアトリマ",
    "イエネコ",
    "ニホンリス",
    "オオアリクイ",
    "ヤマタノオロチ",
    "アミメキリン",
    "チーター",
    "ホッキョクグマ",
    "シロクジャク",
    "タイリクオオカミ",
    "マンモス",
    "ナミチスイコウモリ",
    "オセロット",
    "アフリカゾウ",
    "ライオン",
    "タカ",
    "ギンギツネ",
    "タテガミオオカミ",
    "ケロロ",
    "ドロロ",
    "ギロロ",
    "クルル",
    "シマリス",
    "クロヒョウ",
    "ヒョウ",
    "タママ",
    "ヤブノウサギ",
    "ヒッパリオン",
    "ヤブワラビー",
    "リカオン",
    "プーズー",
    "シフゾウ",
    "ブームスラング",
    "ウサギコウモリ",
    "カグヤコウモリ",
    "マナヅル",
    "エゾシカ",
    "アムールトラ",
    "ミュールジカ",
    "シロイワヤギ",
    "タチコマ",
    "タチコマ",
    "ウチコマ",
    "ジャガー",
    "ブラックジャガー",
    "ジュゴン",
    "クアッガ",
    "ジャガランディ",
    "アモイトラ",
    "マーコール",
    "オオフウチョウ",
    "キジ",
    "ニホンツキノワグマ",
    "ジャコウウシ",
    "チベットスナギツネ",
    "ハイイロギツネ",
    "オオミミギツネ",
    "ハシブトガラス",
    "ゴマバラワシ",
    "イタリアオオカミ",
    "ドール",
    "コディアックヒグマ",
    "タテゴトアザラシ",
    "ズキンアザラシ",
    "バビルサ",
    "シベリアオオヤマネコ",
    "アジアンゴールデンキャット",
    "ホワイトライオン",
    "ホッキョクキツネ",
    "ヨーロッパビーバー",
    "ラーテル",
    "キュウシュウフクロウ",
    "セグロジャッカル",
    "オナガラケットハチドリ",
    "コトドリ",
    "アルパカ・スリ",
    "チルー",
    "オマキヤマアラシ",
    "トランスバールライオン",
    "マサイライオン",
    "ヒラコテリウム",
    "ディンゴ",
    "ションブルクジカ",
    "アカアシガメ",
    "インドホシガメ",
    "ブラウンキーウィ",
    "シナウスイロイルカ",
    "ゴルゴプスカバ",
    "ゴリラ",
    "クロクスクス",
    "メガネカイマン",
    "ヒョウモンナメラ",
    "インドサイ",
    "ヤンバルクイナ",
    "チュウゴクオオカミ",
    "セキショクヤケイ",
    "アリツカゲラ",
    "オウギワシ",
    "フォッサ",
    "ブチハイエナ",
    "ステラーカイギュウ",
    "キタオットセイ",
    "プロングホーン",
    "スプリングボック",
    "ジャージー",
    "サーバル",
    "コアラ",
    "ジャイアントパンダ",
    "タンチョウ",
    "キタキツネ",
    "トラ",
    "アードウルフ",
    "アラビアオリックス",
    "セイウチ",
    "トキ",
    "ヘラジカ",
    "クロサイ",
    "ヒグマ",
    "リョコウバト",
    "カバ",
    "オーロックス",
    "クジャク",
    "キンシコウ",
    "カラカル",
    "シロサイ",
    "ハクトウワシ",
    "アゴヒゲアザラシ",
    "インドゾウ",
    "トムソンガゼル",
    "コヨーテ",
    "ホンドテン",
    "ユキウサギ",
    "マレーグマ",
    "タスマニアデビル",
    "エミュー",
    "ハクビシン",
    "エジプトガン",
    "ピューマ",
    "ロスチャイルドキリン",
    "キュウシュウムササビ",
    "ショウジョウトキ",
    "ノロジカ",
    "リュウキュウイノシシ",
    "ワニガメ",
    "ニシツノメドリ",
    "イリエワニ",
    "ジャイアントモア",
    "ミシシッピーワニ",
    "パンサーカメレオン",
    "ガラパゴスゾウガメ",
    "オオサンショウウオ",
    "コウノトリ",
    "ユーラシアカワウソ",
    "トキイロコンドル",
    "コシベニペリカン",
    "グレビーシマウマ",
    "シロミミオポッサム",
    "ホッキョクウサギ",
    "トド",
    "リムガゼル",
    "サイガ",
    "アフリカタテガミヤマアラシ",
    "ミミナガバンディクート",
    "ウンピョウ",
    "アラスカラッコ",
    "バイカルアザラシ",
    "シマスカンク",
    "ジャングルキャット",
    "ターキン",
    "ヒクイドリ",
    "スマトラサイ",
    "マルミミゾウ",
    "クルペオギツネ",
    "クビワペッカリー",
    "ダチョウ",
    "ヤマバク",
    "マレーバク",
    "イヌワシ",
    "ハヤブサ",
    "ドードー",
    "ウミウ",
    "メキシコオオカミ",
    "ワモンアザラシ",
    "マレーヤマネコ",
    "マーブルキャット",
    "エランド",
    "ケープキリン",
    "ノドグロミツオシエ",
    "モリコキンメフクロウ",
    "ウグイス",
    "ドングリキツツキ",
    "ジョフロイネコ",
    "フクロアリクイ",
    "エダハヘラオヤモリ",
    "シロヘラコウモリ",
    "フクロオオカミ",
    "ガウル",
    "アリゾナジャガー",
    "ヘルベンダー",
    "クロテン",
    "タイパン",
    "イワシャコ",
    "キクイタダキ",
    "ニルガイ",
    "バンテン",
    "インドリ",
    "マイルカ",
    "キバノロ",
    "カッコウ",
    "キョクアジサシ",
    "オオガラゴ",
    "フクロギツネ",
    "ヒメウォンバット",
    "メガネウサギワラビー",
    "メガネフクロウ",
    "ヒョウモンガメ",
    "インドガビアル",
    "ヌートリア",
    "ハブ",
    "ツンドラオオカミ",
    "アカホエザル",
    "インドオオカミ",
    "オオミチバシリ",
    "アイベックス",
    "チンパンジー",
    "ビクーニャ",
    "セーバル",
    "ガンジー",
    "ロバ",
    "ターパン",
    "オブトフクロモモンガ",
    "ハイイロリングテイル",
    "フクロムササビ",
    "マンドリル",
    "チンチラ",
    "トピ",
    "インパラ",
    "アメリカビーバー",
    "フェネック",
    "サバンナシマウマ",
    "エリマキトカゲ",
    "アカカンガルー",
    "レッサーパンダ",
    "アライグマ",
    "アフリカオオコノハズク",
    "スナネコ",
    "カリフォルニアアシカ",
    "ニホンイノシシ",
    "オオフラミンゴ",
    "カピバラ",
    "オカピ",
    "カルガモ",
    "マーゲイ",
    "ミナミコアリクイ",
    "ワシミミズク",
    "アルパカ・ワカイヤ",
    "ミーアキャット",
    "フタコブラクダ",
    "ナマケモノ",
    "コクチョウ",
    "ブラックマンバ",
    "オグロプレーリードッグ",
    "グアナコ",
    "ヒメクビワカモメ",
    "ニホンカワウソ",
    "アフリカニシキヘビ",
    "タヌキ",
    "アカミミガメ",
    "コツメカワウソ",
    "アメリカバイソン",
    "ニホンアナグマ",
    "カリフォルニアラッコ",
    "アイアイ",
    "ニホンジカ",
    "ヒトコブラクダ",
    "スカイフィッシュ",
  ],
};

</script>
</body>
</html>